<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รีเซ็ตรหัสผ่าน</title>
</head>

<body class="ibm-plex-sans-thai-regular">
    <main class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <div class="row">
                    <div class="col-12">
                        <img src="assets/imgs/logo.png" alt="logo" class="img-fluid">
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="card border-0 p-2 shadow">
                        <div class="card-header border-0 bg-white">
                            <h4 class="text-center">รีเซ็ตรหัสผ่าน</h4>
                        </div>
                        <div class="card-body">
                            <form id="resetForm" class="needs-validation" novalidate>
                                <div class="row justify-content-center mb-3">
                                    <div class="col-sm-12 col-md-9 col-lg-10">
                                        <div class="input-group has-validation">
                                            <input type="password" name="NewPass" id="NewPass" required
                                                autocomplete="off" placeholder="รหัสผ่านใหม่" class="form-control">
                                            <button type="button" id="BtnPass"
                                                class="btn btn-outline-secondary border-secondary-subtle">
                                                <i class="bi bi-eye-slash"></i>
                                            </button>
                                            <div class="invalid-feedback">
                                                กรุณากรอกรหัสผ่าน
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center mb-3">
                                    <div class="col-sm-12 col-md-9 col-lg-10">
                                        <div class="input-group has-validation mb-3">
                                            <input type="password" name="cfPass" id="cfPass" required autocomplete="off"
                                                placeholder="ยืนยันรหัสผ่าน" class="form-control form-control-lg fs-6 ">
                                            <button type="button" id="BtnCfPass"
                                                class="btn btn-outline-secondary border-secondary-subtle">
                                                <i class="bi bi-eye-slash"></i>
                                            </button>
                                            <div class="invalid-feedback">
                                                กรุณายืนยันรหัสผ่าน
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center mb-3">
                                    <div class="col-sm-12 col-md-9 col-lg-10">
                                        <button class="btn btn-primary w-100" type="submit">ตกลง</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="module" src="assets/js/reset.js" defer></script>
</body>

</html>